<h1>Directives Practice</h1>
<button (click)="onClick()">Display details
</button>

<p *ngIf="hidden">My name is Rodrigo</p>

<p 
    *ngFor="let number of numbersList; let i = index" 
    [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
    [ngClass]="{colorWhiteClass: i >= 4}"
    >{{number}}
</p>
