<p>binding practice!</p>

<!-- Two-Way-Binding -->
<input type="text" name="" id=""  [(ngModel)]="userName">

<!-- String Interpolation -->
<p>{{userName}}</p>

<button 
    [disabled]="!userName"
    (click)="resetUsername()"
    >Reset
</button>